body{
    background: linear-gradient(darkgreen,greenyellow);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 3em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Arial Black";
    text-align: center;
}
h1{
    color: goldenrod;
}
div{
    background-color: gold;
    color: green;
    border: white;
    padding: 1em;
    margin: 1em;
}

