body{
    background: linear-gradient(darkgreen,greenyellow);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 3em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Arial Black";
    text-align: center;
}
h1{
    color: goldenrod;
}
#message-el{
    color: whitesmoke;
    font-style: italic;
}
p{
    color: whitesmoke;
}
button{
    color: #016f32;
    background-color: goldenrod;
    min-width: 150px;
    padding: 2em;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    font-size: 0.7em;
}
